h1 {
    font-family: cursive;
}

#subtitulo {
    background-color: aquamarine;
}

.red {
    color: red;
}

div > p {
    background-color: blue;
}

.active {
    background-color: green;
    color: orange;
}

.active:hover {
    background-color: lightgreen;
    color: black;
    transition: 1s all ease;
}

.inactive {
    background-color: gray;
    color: white;
}